.footer {
  position: fixed;
  bottom: 0;
  height: 85px;
  width: 100%;
  background-color: #282828;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer__left {
  flex: 0.3;
  color: white;
  display: flex;
  align-items: center;
}

.footer__songinfo {
  display: flex;
  align-items: center;
}

.footer__left img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  object-fit: contain;
}

.footer__center {
  flex: 0.4;
  padding: 0 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer__green {
  color: #1ed15e;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1) !important;
}

.footer__songinfo > h4 {
  margin-bottom: 5px;
}

.footer__songinfo > p {
  font-size: 12px;
}

.footer__right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 100%;
}

.footer__volume {
  margin-right: 5px !important;
}

.footer__right * .MuiSlider-root {
  color: green;
}
