.sidebar {
  height: 100vh;
  background-color: #040404;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar__logo {
  height: 70px;
  width: 100px;
  object-fit: contain;
}

.sidebar__title {
  text-transform: uppercase;
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
  color: white;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}
